<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gogirl.gogirl_xcx.dao.XcxFormIdMapper" >
  <resultMap id="BaseResultMap" type="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, openid, form_id, time,type
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    select 
    <include refid="Base_Column_List" />
    from xcx_form_id
    where id = #{id,jdbcType=INTEGER} and type = #{type,jdbcType=INTEGER}
  </select>
  <select id="selectByXcxFormId" resultMap="BaseResultMap" parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    select 
    <include refid="Base_Column_List" />
    from xcx_form_id
    <where>
     <if test="id!=null">
      and id = #{id,jdbcType=INTEGER}
     </if>
     <if test="customerId!=null">
      and customer_id = #{customerId,jdbcType=INTEGER}
     </if>
     <if test="openid!=null">
      and openid = #{openid,jdbcType=VARCHAR}
     </if>
     <if test="formId!=null">
      and form_id = #{formId,jdbcType=VARCHAR}
     </if>
     <if test="time!=null">
      and time > #{time,jdbcType=TIMESTAMP}
     </if>
     <if test="type!=null">
      and type = #{type,jdbcType=INTEGER}
     </if>
    </where>
  </select>
  <select id="countNumByXcxFormId" resultType="java.lang.Integer" parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    select 
    IFNULL(count(id),0)
    from xcx_form_id
    <where>
     <if test="id!=null">
      and id = #{id,jdbcType=INTEGER}
     </if>
     <if test="customerId!=null">
      and customer_id = #{customerId,jdbcType=INTEGER}
     </if>
     <if test="openid!=null">
      and openid = #{openid,jdbcType=VARCHAR}
     </if>
     <if test="formId!=null">
      and form_id = #{formId,jdbcType=VARCHAR}
     </if>
     <if test="time!=null">
      and time > #{time,jdbcType=TIMESTAMP}
     </if>
     <if test="type!=null">
      and type = #{type,jdbcType=INTEGER}
     </if>
    </where>
  </select>
  <select id="selectFormIdByOpenid" resultMap="BaseResultMap" parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId">
    select 
    <include refid="Base_Column_List" />
    from xcx_form_id
    where openid = #{openid,jdbcType=VARCHAR} and time> #{date,jdbcType=TIMESTAMP}
		ORDER BY time desc limit 1
  </select>
  <delete id="deleteByPrimaryKey"  parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    delete from xcx_form_id
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    insert into xcx_form_id (id, customer_id, openid, 
      form_id, time)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, 
      #{formId,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    insert into xcx_form_id
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    update xcx_form_id
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gogirl.gogirl_xcx.entity.XcxFormId" >
    update xcx_form_id
    set customer_id = #{customerId,jdbcType=INTEGER},
      openid = #{openid,jdbcType=VARCHAR},
      form_id = #{formId,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>