<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gogirl.gogirl_order.dao.OrderServeSkuMapper" >
  <resultMap id="BaseResultMap" type="com.gogirl.gogirl_order.entity.OrderServeSku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_serve_id" property="orderServeId" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_serve_id, sku_id, type, count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_serve_sku
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByOrderServeId" parameterType="java.lang.Integer" >
    delete from order_serve_sku
    where order_serve_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertList" parameterType="com.gogirl.gogirl_order.entity.OrderServeSku" >
    insert into order_serve_sku (order_serve_id, sku_id,type, count) values
        <foreach collection="list" item="list" separator=",">
        (#{list.orderServeId},#{list.skuId},#{list.type},#{list.count})
        </foreach>
  </insert>
  <insert id="insertSelective" parameterType="java.util.List" >
    insert into order_serve_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderServeId != null" >
        order_serve_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderServeId != null" >
        #{orderServeId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gogirl.gogirl_order.entity.OrderServeSku" >
    update order_serve_sku
    <set >
      <if test="orderServeId != null" >
        order_serve_id = #{orderServeId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gogirl.gogirl_order.entity.OrderServeSku" >
    update order_serve_sku
    set order_serve_id = #{orderServeId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      count = #{count,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>